# Gradle
.gradle/
build/
*/build/
.cxx/
local.properties

# Android Studio
.idea/
*.iml
.DS_Store
captures/
.externalNativeBuild/
.navigation/
output.json

# Keystore files
*.jks
*.keystore

# Signing
signing.properties

# Built application files
*.apk
*.aab
*.ap_
*.dex

# Local configuration (credentials)
local.properties
