<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ROLLSPOT_API_BASE_URL</key>
	<string>https://api.rollspot.app</string>
	<key>GOOGLE_IOS_CLIENT_ID</key>
	<string>REPLACE_WITH_GOOGLE_IOS_CLIENT_ID</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.rollspot</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.REPLACE_WITH_REVERSED_CLIENT_ID</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.puspadifellas.app.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>puspadi</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.puspadifellas.app.share</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>puspadifellas</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
